<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
<%- include('partials/header')%>
<div class="userMancha">
    <img src="/images/manchas/pngwing.com (7).png" alt="">
</div>
    <main class="usersForm-container">
       
        <h3 class="userTitle">Registrate</h3>
        <form action="/users/register" method="POST" enctype="multipart/form-data" class="form-ad" >
            <div class="form-ad-input">
                <input type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>">
                <% if (locals.errors && errors.name) { %>
                    <small class="text-danger"><%= errors.name.msg %> </small>
                <% } %>
            </div>
            <div class="form-ad-input">
                <input type="text" name="last_name" placeholder="Apellido" value="<%= locals.old && old.last_name %>">
                <% if (locals.errors && errors.last_name) { %>
                    <small class="text-danger"><%= errors.last_name.msg %> </small>
                <% } %>
            </div>
            <div class="form-ad-input">
                <input type="email" name="email" placeholder="Ingresá tu email" >
                <% if (locals.errors && errors.email) { %>
                    <small class="text-danger"><%= errors.email.msg %> 
                        <% } %>
                    </div>
                    </form>
        

    </main>
<%- include('partials/footer')%>
</body>
</html>